/* .bg{
    background-color: rgb(196, 238, 247);
} */
.container{
    max-width: 600px;
    
  }
  .btn{
    color: black;
    outline: none !important;
    box-shadow: none !important;
  }
  .btn:focus{
    outline: none !important;
  }
  .username{
    font-weight: bold;
  }
  .time{
    font-size: 0.7em;
    color: #6c6b6b;
  }
  .update-mssg{
    text-align: center;
    margin: 20px auto;
  }

/* tabs */
  .tabs > ul{
    padding: 0;
  }
  .tabs > ul{
    padding: 0;
  }
  .tabs .trigger{
    list-style-type: none;
    padding: 10px;
    background: #020202;
    margin: 4px;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
  }
  .tabs .trigger.active{
    background: #ff6565;
    color: white;
  }
  .tabs .content{
    padding: 10px 20px;
    border-radius: 6px;
    display: none;
  }
  .tabs .content.active{
    display: block;
  }
/* Initially hide the dropdown menu */
.dropdown-menu {
  display: none;
}

/* Show the dropdown menu when the 'active' class is added */
.dropdown-menu.active {
  display: block;
}