.fixed-forms-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(22, 22, 53); /* Optional: background color to make it stand out */
  border-top: 5px solid #dee2e6; /* Optional: border to distinguish it from the rest of the content */
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Adjust individual forms if needed */
.fixed-forms-container .form-group {
  margin-bottom: 5px;
  width: 50%; /* Adjust based on your design */
  justify-content: center;
  
}

/* Optional: Add some spacing between forms */
.fixed-forms-container .form-group:not(:last-child) {
  margin-bottom: 5px;
}
.container{
    max-width: 1000px;
  }
.bg{
  background: rgb(22, 22, 53);
}
.btn{
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}
.username{
  font-weight: bold;
}
.time{
  font-size: 0.7em;
  color: #6c6b6b;
}
.update-mssg{
  text-align: center;
  margin: 20px auto;
}
.addroom-mssg{
  text-align: center;
  margin: 20px auto;
}

.btn-inf{
  background: rgb(22, 22, 53);
  color: aqua;
}
.texty{
  color: rgb(22, 22, 53);
}
/* Initially hide the dropdown menu */
.dropdown-menu {
  display: none;
  background: rgb(22, 22, 53);
}

/* Show the dropdown menu when the 'active' class is added */
.dropdown-menu.active {
  display: block;
}